@import url("style/header.css");

*{ /*Seletor universal para resetar as bordas da página*/
   padding: 0px;
   margin: 0px;
}
:root{/*seletor raiz para variaveis*/
    --cor-de-fundo: #899afa;
    --cor--da--letra:#67a3f1;
    --cor--branco:#ffffff;
}

body {/*seletor body*/
    background-color: var(--cor-de-fundo)
}


